#frameworkname {
  height: 5vh;
  background-color: white;
  padding: 0px;
  margin: 0px;
  font-size: 20px;
  font-weight: bold;
}

#instruction {
  height: 5vh;
  background-color: white;
  padding: 0px;
  margin: 0px;
  font-size: 16px;
  white-space: pre-line;
}

#handlebars {
  visibility: hidden;
  display: none;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}